﻿@{ ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model LoginViewModel


    <div id="preloader">
        <div class="loader"></div>
    </div>
    <div class="error-area ptb--100 text-center">
        <div class="container">
            <div class="error-content">
                <h2>404</h2>
                <p>Ooops! Something went wrong .</p>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </div>
        </div>
    </div>

