﻿@{ ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model RegisterViewModel

<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- login area start -->
<div class="login-area login-s2">
    <div class="container">
        <div class="login-box ptb--100">
            <form href="/Auth/Register"method="post">
                <div class="login-form-head">
                    <h4>Sign up</h4>
                    <p>Hello there, Sign up and Join with Us</p>
                </div>
                <div class="login-form-body">
                    <div class="form-gp">
                        <label for="exampleInputName1">First Name</label>
                        <input type="text"name="FirstName" id="exampleInputName1">
                        <i class="ti-user"></i>
                    </div>
                    <div class="form-gp">
                        <label for="exampleInputName1">Last Name</label>
                        <input type="text"name="LastName" id="exampleInputName1">
                        <i class="ti-user"></i>
                    </div>
                    <div class="form-gp">
                        <label for="exampleInputName1">Phone Number</label>
                        <input type="text"name="PhoneNumber" id="exampleInputName1">
                        <i class="ti-mobile"></i>
                    </div>
                    <div class="form-gp">
                        <label for="exampleInputName1">Username</label>
                        <input type="text"name="UserName" id="exampleInputName1">
                        <i class="ti-user"></i>
                    </div>
                    <div class="form-gp">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email"name="Email" id="exampleInputEmail1">
                        <i class="ti-email"></i>
                    </div>
                    <div class="form-gp">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="Password" id="exampleInputPassword1">
                        <i class="ti-lock"></i>
                    </div>
                    <div class="form-gp">
                        <label for="exampleInputPassword2">Confirm Password</label>
                        <input type="password"name="ConfirmPassword" id="exampleInputPassword2">
                        <i class="ti-lock"></i>
                    </div>
                    <div class="submit-btn-area">
                        <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
                        <div class="login-other row mt-4">
                            <div class="col-6">
                                <a class="fb-login" href="#">Sign up with <i class="fa fa-facebook"></i></a>
                            </div>
                            <div class="col-6">
                                <a class="google-login" href="#">Sign up with <i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer text-center mt-5">
                        <p class="text-muted">Don't have an account? <a href="Login">Sign in</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
