﻿@{ ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model CarpoolData.DTOAndMapper.UsersDTO

<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- login area start -->
<div class="login-area login-s2">
    <div class="container">
        <div class="login-box ptb--100">
            <form href="/User/UpdateUser" method="post">
                <div class="login-form-head">
                    <h4>Edit Profile</h4>
                  
                </div>
                <div class="login-form-body">
                    <div class="form-gp">
                        <label for="exampleInputName1">First Name</label>
                        <input type="text" name="FirstName" id="exampleInputName1" value="@Model.FirstName">
                        <i class="ti-user"></i>
                    </div>
                    <div class="form-gp">
                        <label for="exampleInputName1">Last Name</label>
                        <input type="text" name="LastName" id="exampleInputName1" value="@Model.LastName">
                        <i class="ti-user"></i>
                    </div>
                    <div class="form-gp">
                        <label for="exampleInputName1">Phone Number</label>
                        <input type="text" name="PhoneNumber" id="exampleInputName1" value="@Model.PhoneNumber">
                        <i class="ti-mobile"></i>
                    </div>
                    <div class="form-gp">
                        <label for="exampleInputName1">Username</label>
                        <input type="text" name="UserName" id="exampleInputName1" value="@Model.Username">
                        <i class="ti-user"></i>
                    </div>
                    <div class="form-gp">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="Email" id="exampleInputEmail1" value="@Model.Email">
                        <i class="ti-email"></i>
                    </div>
                    <div class="form-gp">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="Password" id="exampleInputPassword1">
                        <i class="ti-lock"></i>
                    </div>
                    <div class="form-gp">
                        <label for="exampleInputPassword2">Confirm Password</label>
                        <input type="password" name="ConfirmPassword" id="exampleInputPassword2">
                        <i class="ti-lock"></i>
                    </div>
                    <div class="submit-btn-area">
                        <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button
                    </div>
                    <div class="form-footer text-center mt-5">
                        <p class="text-muted">Don't have an account? <a href="Login">Sign in</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>  