﻿@*@model CarpoolData.DTOAndMapper.TravelDTO

@for (int i = 0; i < Model.Size; i++)
{
    <form method="post" asp-controller="Travel" asp-action="Search" href="/Travel/Serach">
        <input type="text" / placeholder="Search word">
        <label>@Model.ArrivalTime</label>

        <input type="checkbox" />
        <label>@Model.Destination</label>
        <label>Borislava shte me bie</label>
        <input type="submit" />
    </form>
}


@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>*@
